<div id='contracts-form' class='grid_12 boxit page'>
<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :co_owner %><br />
    <%= f.text_field :co_owner %>
  </div>
  <div class="field">
    <%= f.label :benef_uno %><br />
    <%= f.text_field :benef_uno %>
  </div>
  <div class="field">
    <%= f.label :benef_dos %><br />
    <%= f.text_field :benef_dos %>
  </div>
  <div class="field">
    <%= f.label :benef_tre %><br />
    <%= f.text_field :benef_tre %>
  </div>
  <div class="field">
    <%= f.label :ocupacion %><br />
    <%= f.text_field :ocupacion %>
  </div>
  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :colonia %><br />
    <%= f.text_field :colonia %>
  </div>
  <div class="field">
    <%= f.label :delegacion %><br />
    <%= f.text_field :delegacion %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :cp %><br />
    <%= f.text_field :cp %>
  </div>
  <div class="field">
    <%= f.label :tel_casa %><br />
    <%= f.text_field :tel_casa %>
  </div>
  <div class="field">
    <%= f.label :tel_trabajo %><br />
    <%= f.text_field :tel_trabajo %>
  </div>
  <div class="field">
    <%= f.label :tel_movil %><br />
    <%= f.text_field :tel_movil %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :temporada %><br />
    <%= f.text_field :temporada %>
  </div>
  <div class="field">
    <%= f.label :vigencia %><br />
    <%= f.text_field :vigencia %>
  </div>
  <div class="field">
    <%= f.label :tipo_unidad %><br />
    <%= f.text_field :tipo_unidad %>
  </div>
  <div class="field">
    <%= f.label :tipo_unidad %><br />
    <%= f.text_field :tipo_unidad %>
  </div>
  <div class="field">
    <%= f.label :no_personas %><br />
    <%= f.text_field :no_personas %>
  </div>
  <div class="field">
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :pago_inicial %><br />
    <%= f.text_field :pago_inicial %>
  </div>
  <div class="field">
    <%= f.label :no_mensual %><br />
    <%= f.text_field :no_mensual %>
  </div>
  <div class="field">
    <%= f.label :monto_mensual %><br />
    <%= f.text_field :monto_mensual %>
  </div>
  <div class="field">
    <%= f.label :fecha_primer_pago %><br />
    <%= f.date_select :fecha_primer_pago %>
  </div>
  <div class="field">
    <%= f.label :abono_inicial %><br />
    <%= f.text_field :abono_inicial %>
  </div>
  <div class="field">
    <%= f.label :forma_pago %><br />
    <%= f.text_field :forma_pago %>
  </div>
  <div class="field">
    <%= f.label :cuota_manto %><br />
    <%= f.text_field :cuota_manto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
