<div id='contracts-form' class='grid_12 boxit page'>
  <%= form_for(@contract, :html => { :multipart => true, :class => 'basic-form validate'}) do |f| %>
    <% if @contract.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  
    <div id='form-holder'> 
      <div class="grid_6">   
        <p>
          <%= f.label 'Fecha' %><br />
          <%= f.date_select :fecha, :autocomplete => :off, :class => 'required' %>
        </p>
  	    <p> 
          <%= f.label 'Titular' %><br />
          <%= f.text_field :owner, :placeholder => 'Nombre del Titular...', :autocomplete => :off, :class => 'required' %>
        </p>  
        <p>
          <%= f.label 'Co-Propietario' %><br />
          <%= f.text_field :co_owner, :placeholder => 'Nombre del Co-Propietario...', :autocomplete => :off, :class => 'required' %>
        </p>
        <p>
          <%= f.label 'Ocupación' %><br />
          <%= f.text_field :ocupacion, :placeholder => 'Ocupacion...', :autocomplete => :off, :class => 'required' %>
        </p>
      </div>
      <div class="grid_5">  
        <p>
          <%= f.label 'Beneficiarios' %><br />
          <%= f.text_field :benef_uno, :placeholder => 'Nombre del Beneficiario...', :autocomplete => :off, :class => 'required'%><br />
          <%= f.text_field :benef_dos, :placeholder => 'Nombre del Beneficiario...', :autocomplete => :off, :class => 'required' %><br />
          <%= f.text_field :benef_tre, :placeholder => 'Nombre del Beneficiario...', :autocomplete => :off, :class => 'required' %><br />
        </p>
      </div>
    </div>
    <div class='pc-settings'> 
      <div class='grid_6'>
        <p class='pc-settings'>
          <%= f.label 'Calle' %><br />
          <%= f.text_field :calle, :placeholder => 'Nombre de la Calle...', :autocomplete => :off, :class => 'required' %>
        </p>      
        <p class='pc-settings'>
          <%= f.label 'Colonia' %><br />
          <%= f.text_field :colonia, :placeholder => 'Nombre de la Colonia...', :autocomplete => :off, :class => 'required' %>
        </p>      
        <p class='pc-settings'>
          <%= f.label 'Estado' %><br />
          <%= f.text_field :estado, :placeholder => 'Nombre de la Colonia...', :autocomplete => :off, :class => 'required' %>
        </p>
      </div>        
      <div class="grid_5">
        <p class="pc-settings">
    	  <%= f.label 'Delegación' %><br />
          <%= f.text_field :delegacion, :placeholder => 'Nombre de la Delegacion...', :autocomplete => :off, :class => 'required' %>
        </p>
        <p class="pc-settings">
          <%= f.label 'Ciudad' %><br />
          <%= f.text_field :ciudad, :placeholder => 'Nombre de la Ciudad...', :autocomplete => :off, :class => 'required' %>
        </p>
        <p class="pc-settings">
          <%= f.label 'Codigo Postal' %><br />
          <%= f.text_field :cp, :placeholder => 'Codigo Postal...', :autocomplete => :off, :class => 'required number' %>
        </p>   
      </div>
   
      <div class="grid_6">
        <p class="pc-settings">
          <%= f.label 'Telefono de Casa' %><br />
          <%= f.text_field :tel_casa, :autocomplete => :off, :class => 'required' %>
        </p>
      
        <p class="pc-settings">
          <%= f.label 'Telefono de Oficina' %><br />
          <%= f.text_field :tel_trabajo, :autocomplete => :off, :class => 'required' %>
        </p>
      </div>
       
      <div class="grid_5">
   	    <p class='pc-settings'>
          <%= f.label 'Correo Electronico'%><br />
          <%= f.email_field :email %>
        </p>
        <p>
          <%= f.label 'Telefono Movil' %><br />
          <%= f.text_field :tel_movil, :autocomplete => :off, :class => 'required'%> 
        </p>
      </div>
    </div>
    <div class='pc-settings'>
      <div class="grid_6">
   	    <p class="pc-settings">
          <%= f.label 'Temporada' %><br />
		  <%= select_tag 'contract[season_id]', options_from_collection_for_select(Season.all, :id, :name), { :required => "true", :id => "temporada_select" } %>
        </p>
        <p class="pc-settings">
          <%= f.label 'Vigencia' %><br />
          <%= f.number_field :vigencia, :autocomplete => :off, :class => 'required' %>
        </p>      
        <p class="pc-settings">
          <%= f.label 'Tipo Unidad' %><br />
		  <%= select_tag 'contract[unittype_id]', options_from_collection_for_select(Unittype.all, :id, :name), { :required => "true", :id => "tipounidad_select" } %>
        </p>
        <p class="pc-settings">
          <%= f.label 'Número de Personas' %><br />
          <%= f.number_field :no_personas, :autocomplete => :off, :class => 'required' %>
        </p>
      </div>
      <div class="grid_5">
   	    <p class="pc-settings">
          <%= f.label 'Promotor' %><br />
		  <%= select_tag 'contract[seller_id]', options_from_collection_for_select(Seller.all, :id, :name), { :required => "true", :id => "seller_select" } %>   	    	
   	    </p>
        <p class="pc-settings">
          <%= f.label 'Liner' %><br />
		  <%= select_tag 'contract[liner_id]', options_from_collection_for_select(Liner.all, :id, :name), { :required => "true", :id => "liner_select" } %>   	    	
        </p>      
        <p class="pc-settings">
          <%= f.label 'Closer' %><br />
		  <%= select_tag 'contract[closer_id]', options_from_collection_for_select(Closer.all, :id, :name), { :required => "true", :id => "closer_select" } %>
        </p>
      </div>
    </div>     
    <div class='pc-settings'>
      <div class="grid_6">
        <p class="pc-settings">
          <%= f.label 'Precio' %><br />
          <%= f.number_field :precio, :autocomplete => :off, :class => 'required' %>
        </p>
        <p class="pc-settings">
          <%= f.label 'Porcentaje De Enganche' %><br />
          <%= f.number_field :porcentaje_enganche, :autocomplete => :off, :class => 'required' %>
        </p>        
        <p class="pc-settings"> 
          <%= f.label 'Enganche' %><br />
          <%= f.number_field :pago_inicial, :autocomplete => :off, :class => 'required', :readonly => 'true' %>
        </p>
        <p class="pc-settings">
          <%= f.label "Gastos de contratación" %><br />
          <%= f.number_field :gastos_contratacion, :autocomplete => :off, :placeholder => 'Monto en pesos 0.00', :class => 'required' %>
        </p>
        <p class="pc-settings"> 
          <%= f.label 'Total De Enganche + Gastos De Contratación' %><br />
          <%= f.number_field :total_enganche, :autocomplete => :off, :class => 'required', :readonly => 'true' %>
       </p>        
      </div>
      <div class="grid_5">  
       <p class="pc-settings">
          <%= f.label 'Muntiplicadores' %><br />
		  <%= select_tag 'contract[multiplier_id]', options_from_collection_for_select(Multiplier.all, :id, :valor), { :required => "true", :id => "multiplier_select" } %>
		</p>

        <p class="pc-settings">
          <%= f.label 'Saldo referencia' %><br />
          <%= f.number_field :saldo_referencia, :autocomplete => :off, :class => 'required', :readonly => 'true' %>
        </p>
                        
        <p class="pc-settings">
          <%= f.label 'Número de Mensualidades' %><br />
          <%= f.number_field :no_mensual, :autocomplete => :off, :class => 'required' %>
        </p>
        
        <p class="pc-settings">
          <%= f.label 'Monto de la mensualidad' %><br />
          <%= f.number_field :monto_mensual, :autocomplete => :off, :class => 'required', :readonly => 'true' %>
        </p>
        <p class="pc-settings">
          <%= f.label "Empezando a pagar" %><br />
          <%= f.date_select :fecha_primer_pago, :autocomplete => :off, :class => 'required' %><br />
        </p>
        <p class="pc-settings">
          <%= f.label "Forma de Pago" %><br />
          <%= f.text_field :forma_pago, :autocomplete => :off, :size => '25', :class => 'required'%>
        </p>
      </div>
    </div>   
    <div class='pc-settings'> 
      <div class='grid_6'>
   	    <p class="pc-settings">
          <%= f.label "Anticipo" %><br />
          <%= f.number_field :abono_inicial, :autocomplete => :off, :class => 'required' %>
        </p>
        <p class="pc-settings">
          <%= f.label "Costo de mantenimiento" %><br />
          <%= f.number_field :cuota_manto, :autocomplete => :off, :class => 'required'%>
        </p>
      </div>
      <div class='grid_5'>
       
      </div>
    </div>
  
    <%= form_actions do %>
       <%= button "Guardar Contrato", :class => 'success' %>
       <%= button "Cancelar", :class => 'warning cancel' %>
    <% end %>
  <% end %>
</div>