<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @contract.owner %>
</p>

<p>
  <b>Fecha:</b>
  <%= @contract.fecha %>
</p>

<p>
  <b>Co owner:</b>
  <%= @contract.co_owner %>
</p>

<p>
  <b>Benef uno:</b>
  <%= @contract.benef_uno %>
</p>

<p>
  <b>Benef dos:</b>
  <%= @contract.benef_dos %>
</p>

<p>
  <b>Benef tre:</b>
  <%= @contract.benef_tre %>
</p>

<p>
  <b>Ocupacion:</b>
  <%= @contract.ocupacion %>
</p>

<p>
  <b>Calle:</b>
  <%= @contract.calle %>
</p>

<p>
  <b>Colonia:</b>
  <%= @contract.colonia %>
</p>

<p>
  <b>Delegacion:</b>
  <%= @contract.delegacion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @contract.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @contract.estado %>
</p>

<p>
  <b>Cp:</b>
  <%= @contract.cp %>
</p>

<p>
  <b>Tel casa:</b>
  <%= @contract.tel_casa %>
</p>

<p>
  <b>Tel trabajo:</b>
  <%= @contract.tel_trabajo %>
</p>

<p>
  <b>Tel movil:</b>
  <%= @contract.tel_movil %>
</p>

<p>
  <b>Email:</b>
  <%= @contract.email %>
</p>

<p>
  <b>Temporada:</b>
  <%= @contract.temporada %>
</p>

<p>
  <b>Vigencia:</b>
  <%= @contract.vigencia %>
</p>

<p>
  <b>Tipo unidad:</b>
  <%= @contract.tipo_unidad %>
</p>

<p>
  <b>Tipo unidad:</b>
  <%= @contract.tipo_unidad %>
</p>

<p>
  <b>No personas:</b>
  <%= @contract.no_personas %>
</p>

<p>
  <b>Precio:</b>
  <%= @contract.precio %>
</p>

<p>
  <b>Pago inicial:</b>
  <%= @contract.pago_inicial %>
</p>

<p>
  <b>No mensual:</b>
  <%= @contract.no_mensual %>
</p>

<p>
  <b>Monto mensual:</b>
  <%= @contract.monto_mensual %>
</p>

<p>
  <b>Fecha primer pago:</b>
  <%= @contract.fecha_primer_pago %>
</p>

<p>
  <b>Abono inicial:</b>
  <%= @contract.abono_inicial %>
</p>

<p>
  <b>Forma pago:</b>
  <%= @contract.forma_pago %>
</p>

<p>
  <b>Cuota manto:</b>
  <%= @contract.cuota_manto %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
