<div id='severity-form' class='grid_12 boxit page'>
  <%= form_for @unittype, :html => { :class => 'validate' } do |f| %>

    <% if @unittype.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@unittype.errors.count, "error") %> prohibited this liner from being saved:</h2>
        <ul>
          <% @unittype.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <p>
      <%= f.label 'Tipo de unidad' %><br />
      <%= f.text_field :name, :class => 'required', :placeholder => 'Nombre...', :autocomplete => :off %>
    </p>
    <%= form_actions do %>
      <%= button "Guardar Tipo de unidad", :class => 'success' %>
      <%= button "Cancelar", :class => 'warning cancel' %>
    <% end %>
<% end %>
</div>
