<div id='severity-form' class='grid_12 boxit page'>
  <%= form_for @multiplier, :html => { :class => 'validate' } do |f| %>

    <% if @multiplier.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@multiplier.errors.count, "error") %> prohibited this liner from being saved:</h2>
        <ul>
          <% @multiplier.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <p>
      <%= f.label 'Valor del Multiplicador' %><br />
      <%= f.number_field :valor, :class => 'required', :placeholder => 'Valor...', :autocomplete => :off %>
    </p>

    <%= form_actions do %>
      <%= button "Guardar Multiplicador", :class => 'success' %>
      <%= button "Cancelar", :class => 'warning cancel' %>
    <% end %>
<% end %>
</div>
