<div id="header">
  <div id="header-inside">
    <div id="header-content">
      <div id="header-top" class='container_12'>
	<div id="logo" class='grid_6'>           
	</div>
        <div id="user-menu" class=''> 
	</div>
      </div>
    </div>
    <div id="menu">
      <ul class='container_12'>
        <li class='blank first'></li>
        <li><%= link_to "Contratos", contracts_path %></li>
        <li class='blank last'></li>
        
        <li class='administration right'><%= link_to "Administración", sellers_path %></li>
        <dl id="admin-menu" style='display:none;'>
          <dd>
          	<%= link_to "Vendedores", sellers_path %>
          </dd>
          <div class="admin-arrow"></div>
          <dd>
            <%= link_to "Liners", liners_path %>            
          </dd>
          <dd>
            <%= link_to "Closers", closers_path %>
          </dd>
          <dd>
            <%= link_to "Multiplicador", multipliers_path %>
          </dd>          
        </dl>
      </ul>
    </div>
  </div>
</div>
